/****************/
/** CSS REMEDY **/
/****************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/***********************/
/** CUSTOM PROPERTIES **/
/***********************/

:root {
	/* startje */
	--color-text: #111;
	--color-background: #FFFFFF;

	/* kleuren light mode */
	--color-background-second: #e7eeed;
	--color-background-third: #fceed0;
	--color-dieet: #ffc1c1;
	--color-nav-en-nieuwsbrief: #64827d;
}





/**********************************/
/** ALGEMENE STYLING (LIGHT MODE)**/
/**********************************/

body {
	color: var(--color-text);
	background-color: var(--color-background);
}

h1 {
	font-family: 'Leckerli One', cursive;
}

h2,
h3,
h4 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Nunito Sans', sans-serif;
}

button {
	background-color: black;
	border-radius: 1em;
	border-color: black;
}

button a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	margin: 5px 10px 5px 10px;
	padding: 1em;
}

button:hover {
	background-color: var(--color-nav-en-nieuwsbrief);
	border-color: var(--color-nav-en-nieuwsbrief);

	transform: rotate(-3deg);
}

button a:hover {
	color: white;
	font-size: 18px;
	font-weight: 500;
}

main button:focus {
	background-color: var(--color-nav-en-nieuwsbrief);
	border-color: var(--color-dieet);
	border-width: 0.5em;
}

section li a {
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

section li a:hover {
	color: var(--color-nav-en-nieuwsbrief);
	font-weight: 600;
	text-decoration: underline;
}

section li a:focus {
	border: solid 0.1em var(--color-nav-en-nieuwsbrief);
	padding: 0.2em;
}





/**********************************/
/** ALGEMENE STYLING (DARK MODE) **/
/**********************************/

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: rgb(224, 224, 224);
		--color-background: #24242c;

		--color-background-second: #5c7973;
		--color-background-third: #af8a3a;
		--color-dieet: #d34747;
		--color-nav-en-nieuwsbrief: #10af95;
	}

	header p {
		color: black;
	}

	h2:nth-of-type(1) {
		color: black;
	}

	section li a {
		color: white;
	}

	section li a:hover {
		color: var(--color-nav-en-nieuwsbrief);
	}

	button:hover {
		background-color: var(--color-nav-en-nieuwsbrief);
		border-color: var(--color-nav-en-nieuwsbrief);
	}
}





/********************/
/** HEADER STYLING **/
/********************/

/* naam "Leuke Recepten" */
h1 {
	font-size: 25px;
	text-align: center;
	font-weight: 100;

	margin-top: 0;
}

/* hartje logo achter de naam */
header section:nth-of-type(1) img:nth-of-type(1) {
	position: absolute;

	top: 0.5em;
	left: 10.6em;

	z-index: -1;

	max-width: 2.4em;
	min-height: 2.2em;

	opacity: 0.3;
}

/* kookboek icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(1) {
	position: absolute;

	left: 6.3em;
	top: 5.2em;

	z-index: 1;

	max-width: 1.1em;
}

/* pijltje icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(2) {
	position: absolute;

	right: 6.3em;
	top: 5.2em;

	z-index: 1;

	max-width: 1em;
}

header section:nth-of-type(2) img:nth-of-type(2):hover {
	position: absolute;

	right: 6em;
	top: 5.2em;

	z-index: 1;

	max-width: 1em;
}

/* eetschema button */
header p {
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 11px;
	text-align: center;

	background-color: var(--color-dieet);
	min-width: 18em;
	padding: 1em 2em 1em 2em;
	border-radius: 3em;
}

/* achtergrond kleur achter de eetschema button */
header section:nth-of-type(2) {
	background-color: var(--color-background-second);
	padding: 0.1em;
	margin-bottom: 0.5em;
}





/********************************************/
/****** SECTION HOOFDGRECHT VAN DE DAG ******/
/********************************************/

/* hoofdgerecht naam: wraps met kip */
h2:nth-of-type(1) {
	position: absolute;

	top: 15.5em;
	left: 1.5em;

	background-color: white;
	max-width: 10em;
	padding: 10px 5px 10px 5px;

	text-align: center;
	font-size: 15px;
}

/* afbeelding wraps met kip als hoofdgerecht van vandaag */
main section:nth-of-type(1) img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* hartje favorieten */
main section:nth-of-type(1) img:nth-of-type(2) {
	position: absolute;

	top: 9.5em;
	right: 1.7em;

	width: 1.7em;
}

@keyframes hart-favorieten-hoofdgerecht-animation {
	0% {
		transform: scale(1.5);
	}

	20% {
		transform: scale(1);
	}

	40% {
		transform: scale(1.5);
	}

	60% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

main section:nth-of-type(1) img:nth-of-type(2):hover {
	animation-name: hart-favorieten-hoofdgerecht-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* vergrootglas afbeelding voor search */
main section:first-child nav:first-child img {
	position: absolute;

	bottom: 6.2em;
	right: 2.6em;

	width: 2.2em;
}

/* "recept" button om naar de recept van de dag te gaan */
section:nth-of-type(1) button:nth-of-type(1) {
	position: absolute;

	right: 1.5em;
	top: 20em;
	max-width: 8em;
}

section:nth-of-type(1) button a:nth-of-type(1) {
	font-size: 13px;
}

section:nth-of-type(1) button:nth-of-type(1):hover {
	transform: none;
}

/* zoekbalk */
nav input {
	position: absolute;

	top: 12em;
	left: 6.5em;

	border-radius: 1em;

	min-width: 15em;
	min-height: 2em;

	text-align: center;
}





/*************************************/
/** SECTION NIEUWE RECEPTEN & BLOGS **/
/*************************************/

h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;

	margin-top: 3em;
	margin-bottom: 1em;
}

/* afbeeldingen recepten van "nieuwe recepten & blogs" */
main section:nth-of-type(2) img {
	height: 80px;
}

/* de afbeeldingen naast elkaar zetten */
section:nth-of-type(2) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding-left: 0.2em;
}

/* titels van recepten onderaan de afbeeldingen */
section:nth-of-type(2) li a{
	font-size: 1.1em;
}





/********************************/
/** SECTION BEWAAR JE RECEPTEN **/
/********************************/

/* section onderscheid van maken */
main section:nth-of-type(3) {
	background-color: var(--color-background-third);
	padding-bottom: 1em;
}

/* titel section */
main section:nth-of-type(3) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(3) ul {
	list-style-type: square;
	padding-right: 1em;

	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
}

main section:nth-of-type(3) p {
	padding-right: 1em;

	font-size: 13px;
}

/* plaatje van Sandra */
main section:nth-of-type(3) img {
	width: 110px;
	float: left;
	margin-right: 2.5em;
	margin-left: 1em;
}

main section:nth-of-type(3) button {
	margin-left: 12em;
}





/***********************************************/
/** SECTION POPULAIRSTE RECEPTEN VAN DE MAAND **/
/***********************************************/

/* afbeeldingen van de section "nieuwe recepten & blogs */
main section:nth-of-type(4) img {
	height: 80px;
}

/* afbeeldingen naast elkaar zetten */
section:nth-of-type(4) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding-left: 0.2em;
}





/************************************/
/** SECTION LEUKE RECEPTEN WEBSHOP **/
/************************************/

/* section onderscheid van maken */
main section:nth-of-type(5) {
	background-color: var(--color-background-third);
	padding-bottom: 1em;
}

/* titel section */
main section:nth-of-type(5) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(5) ul {
	list-style-type: square;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
}

main section:nth-of-type(5) p {
	padding-left: 1em;
	max-width: 26em;

	font-size: 13px;
}

/* button "webshop" */
main section:nth-of-type(5) button {
	margin-top: 2em;
}





/*******************************/
/** SECTION POPULAIRE THEMA'S **/
/*******************************/

/* afbeeldingen van de section "populaire thema's */
main section:nth-of-type(6) img {
	width: 160px;
}

/* afbeeldingen naast elkaar zetten */
section:nth-of-type(6) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding: 0 0 0 0.5em;
	margin-left: 0.1em;
}

section:nth-of-type(6) ul li {
	position: relative;
}

/* de titels van recepten onder afbeeldingen versieren */
section:nth-of-type(6) ul a {
	background-color: var(--color-background-third);

	font-size: 15px;
	font-weight: 800;

	max-width: 110px;
	border-radius: 0.4em;
	text-align: center;
	padding: 2px;
	
	position: absolute;
    left: 1.6em;
    right: 1em;
    top: 2em;
}

section:nth-of-type(6) ul a:hover {
	color: black;
}

/* button "bekijk alle thema's" positioneren in het midden */
section:nth-of-type(6) button {
	position: absolute;
	left: 5.5em;
}





/**********************************/
/** SECTION PERSOONLIJK WEEKMENU **/
/**********************************/

/* section onderscheid maken */
main section:nth-of-type(7) {
	background-color: var(--color-background-third);
	padding-bottom: 0.5em;
	margin-top: 9em;
}

/* titel section */
main section:nth-of-type(7) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(7) img {
	width: 80px;
	float: left;
	margin-left: 0.5em;
}

main section:nth-of-type(7) p:nth-of-type(1) {
	padding-left: 8em;
	padding-right: 1em;

	font-size: 13px;
}

main section:nth-of-type(7) ul {
	list-style-type: square;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;

	padding-right: 1em;
	margin-left: 5em;
	margin-bottom: 4em;
}

section:nth-of-type(7) button {
	position: absolute;
	left: 14em;

	margin-top: 1em;
}





/**************************************/
/** SECTION SANDRA'S WEEKMENU SLIDER **/
/**************************************/

/* section onderscheid maken en de slider */
main section:nth-of-type(9) {
	background-color: var(--color-background-second);

	display: flex;
	height: 280px;

	margin-bottom: 2em;

	overflow-x: auto;
}

/* dagen titels van de weekmenu */
main section:nth-of-type(9) h4 {
	text-transform: uppercase;
	font-size: 20px;

	display: flex;
	flex-direction: row;

	margin-bottom: 0.5em;
}

/* ruimte tussen de dagelijkse recepten */
main section:nth-of-type(9) article {
	padding: 0em 1em 0em 1em;
}

/* plaatjes */
main section:nth-of-type(9) img {
	width: 240px;
}

/* recept namen onder de plaatjes */
main section:nth-of-type(9) a {
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: 20px;

	padding: 0.25em;
	text-align: center;

	display: block;
}

main section:nth-of-type(9) a:hover {
	color: var(--color-nav-en-nieuwsbrief);
	font-weight: 600;
	text-decoration: underline;
}





/*************************/
/** SECTION NIEUWSBRIEF **/
/*************************/

footer section:nth-of-type(1) {
	background-color: var(--color-background-second);
	text-align: center;
}

footer section:nth-of-type(1) h3 {
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

footer section:nth-of-type(1) p {
	margin: 1em;
	font-size: 15px;
}

footer section:nth-of-type(1) input {
	min-width: 20em;
	height: 3em;

	border-radius: 1em;
	margin-bottom: 1em;

	font-size: 1em;
	letter-spacing: 0.1em;
	text-align: center;
}

footer section input:nth-of-type(2) {
	background-color: black;
	color: white;

	border-radius: 2em;

	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
}

footer section input:nth-of-type(2):hover {
	background-color: var(--color-nav-en-nieuwsbrief);

	transform: rotate(-3deg);
	font-size: 18px;
	font-weight: 500;
}

footer section input:nth-of-type(2):focus {
	background-color: var(--color-nav-en-nieuwsbrief);
	border-color: var(--color-dieet);
	border-width: 0.5em;
}





/*****************************/
/** NAVIGATIE BALK ONDERAAN **/
/*****************************/

/* nav balk elementen naast elkaar */
footer section:nth-of-type(2) nav ul {
	display: flex;
	justify-content: space-between;
	
	gap: 2em;

	list-style-type: none;

	background-color: var(--color-nav-en-nieuwsbrief);

	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* namen van nav balk */
footer section:nth-of-type(2) li a {
	text-transform: uppercase;
	font-size: 15px;

	align-items: center;
}

/* iconen boven titels centreren */
footer section:nth-of-type(2) li {
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer section:nth-of-type(2) li a:hover {
	color: white;
}

/* iconen van nav balk */
footer section:nth-of-type(2) img {
	width: 25px;
}





/**********/
/** MENU **/
/**********/

/* menu button styling en positioneren */
footer section:nth-of-type(2) button {
	position: fixed;
	top: 0.5em;
	right: 0.5em;

	background-color: var(--color-dieet);
	border-color: var(--color-dieet);
	border-radius: 0.5em;

	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;

	display: flex;
	align-items: center;
}

footer section:nth-of-type(2) button:hover {
	background-color: var(--color-background-second);
	border-color: var(--color-background-second);

	font-size: 1em;
	font-weight: 500;
}





/*************************************/
/** ACHTERGROND MUZIEKJE GELUIDSKNOP**/
/*************************************/

/* geluid knoppen styling */
footer section:nth-of-type(3) img { 
	border-radius: 0.5em;
	padding: 0.5em;

	background-color: var(--color-dieet);

	width: 2.3em;
}

footer section:nth-of-type(3) img:nth-of-type(1), img:nth-of-type(2) {
	position: fixed;
	top: 2.5em;
	right: 0.5em;
}