/****************/
/** CSS REMEDY **/
/****************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/***********************/
/** CUSTOM PROPERTIES **/
/***********************/

:root {
	/* startje */
	--color-text: #111;
	--color-background: #FFFFFF;

	/* kleuren light mode */
	--color-background-second: #e7eeed;
	--color-background-third: #fceed0;
	--color-pink: #ffc1c1;
	--color-green: #64827d;
}





/**********************************/
/** ALGEMENE STYLING (LIGHT MODE)**/
/**********************************/

body {
	color: var(--color-text);
	background-color: var(--color-background);
}

h1 {
	font-family: 'Leckerli One', cursive;
}

h2,
h3,
h4 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Nunito Sans', sans-serif;
}

.fake-buttons {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;

	background-color: black;
	color: white;

	border-radius: 1em;
	border-color: black;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	padding: 0.5em;
}

a.fake-buttons:hover {
	font-weight: 300;
}

a:hover {
	color: white;
	font-size: 18px;
	font-weight: 500;
}

main button:focus {
	background-color: var(--color-green);
	border-color: var(--color-pink);
	border-width: 0.5em;
}

section li a {
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

section li a:hover {
	color: var(--color-green);
	font-weight: 600;
	text-decoration: underline;
}

section li a:focus {
	border: solid 0.1em var(--color-green);
	padding: 0.2em;
}





/**********************************/
/** ALGEMENE STYLING (DARK MODE) **/
/**********************************/

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: rgb(224, 224, 224);
		--color-background: #24242c;

		--color-background-second: #5c7973;
		--color-background-third: #af8a3a;
		--color-pink: #d34747;
		--color-green: #10af95;
	}

	header p {
		color: black;
	}

	h2:nth-of-type(1) {
		color: black;
	}

	section li a {
		color: white;
	}

	section li a:hover {
		color: var(--color-green);
	}

	button:hover {
		background-color: var(--color-green);
		border-color: var(--color-green);
	}
}





/********************/
/** HEADER STYLING **/
/********************/

/* naam "Leuke Recepten" */
h1 {
	font-size: 25px;
	text-align: center;
	font-weight: 100;

	margin-top: 0;
}

/* hartje logo achter de naam */
header section:nth-of-type(1) img:nth-of-type(1) {
	position: absolute;

	top: 0.5em;
	left: 10.6em;

	z-index: -1;

	max-width: 2.4em;
	min-height: 2.2em;

	opacity: 0.3;
}

/* kookboek icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(1) {
	position: absolute;

	left: 6.3em;
	top: 5.2em;

	z-index: 1;

	max-width: 1.1em;
}

/* pijltje icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(2) {
	position: absolute;

	right: 6.3em;
	top: 5.2em;

	z-index: 1;

	max-width: 1em;
}

header section:nth-of-type(2) img:nth-of-type(2):hover {
	position: absolute;

	right: 6em;
	top: 5.2em;

	z-index: 1;

	max-width: 1em;
}

/* eetschema button */
header p {
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 11px;
	text-align: center;

	background-color: var(--color-pink);
	min-width: 18em;
	padding: 1em 2em 1em 2em;
	border-radius: 3em;
}

/* achtergrond kleur achter de eetschema button */
header section:nth-of-type(2) {
	background-color: var(--color-background-second);
	padding: 0.1em;
	margin-bottom: 0.5em;
}





/********************************************/
/****** SECTION HOOFDGRECHT VAN DE DAG ******/
/********************************************/

/* hoofdgerecht naam: wraps met kip */
h2:nth-of-type(1) {
	position: absolute;

	top: 16.5em;
	left: 1.5em;

	background-color: white;
	max-width: 10em;
	padding: 10px 5px 10px 5px;

	text-align: center;
	font-size: 15px;
}

/* afbeelding wraps met kip als hoofdgerecht van vandaag */
main section:nth-of-type(1) img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* hartje favorieten */
main section:nth-of-type(1) img:nth-of-type(2) {
	position: absolute;

	top: 10.7em;
	right: 1.7em;

	width: 1.7em;
}

@keyframes hart-favorieten-hoofdgerecht-animation {
	0% {
		transform: scale(1.5);
	}

	20% {
		transform: scale(1);
	}

	40% {
		transform: scale(1.5);
	}

	60% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

main section:nth-of-type(1) img:nth-of-type(2):hover {
	animation-name: hart-favorieten-hoofdgerecht-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* vergrootglas afbeelding voor search */
main section:first-child nav:first-child img {
	position: absolute;

	bottom: 35em;
	right: 4.5em;

	width: 2.2em;
}

/* "recept" button om naar de recept van de dag te gaan positionering */
section:nth-of-type(1) a {
	position: absolute;

	right: 1.7em;
	top: 18em;
	min-width: 6em;
}

/* zoekbalk */
nav input {
	position: absolute;

	top: 13em;
	left: 6.5em;

	border-radius: 1em;

	min-width: 15em;
	min-height: 2em;

	text-align: center;
}





/*************************************/
/** SECTION NIEUWE RECEPTEN & BLOGS **/
/*************************************/

h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;

	margin-top: 3em;
	margin-bottom: 1em;
}

/* afbeeldingen recepten van "nieuwe recepten & blogs" */
main section:nth-of-type(2) img {
	height: 80px;
}

/* de afbeeldingen naast elkaar zetten */
section:nth-of-type(2) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding-left: 0.2em;
}

/* titels van recepten onderaan de afbeeldingen */
section:nth-of-type(2) li a {
	font-size: 1.1em;
}





/********************************/
/** SECTION BEWAAR JE RECEPTEN **/
/********************************/

/* section onderscheid van maken */
main section:nth-of-type(3) {
	background-color: var(--color-background-third);
	padding-bottom: 1em;
}

/* titel section */
main section:nth-of-type(3) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(3) ul {
	list-style-type: square;
	padding-right: 1em;

	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
}

main section:nth-of-type(3) p {
	padding-right: 1em;

	font-size: 13px;
}

/* plaatje van Sandra */
main section:nth-of-type(3) img {
	width: 125px;
	float: left;
	margin-right: 2.5em;
	margin-left: 1em;
}

main section:nth-of-type(3) a {
	margin-left: 11em;
}





/***********************************************/
/** SECTION POPULAIRSTE RECEPTEN VAN DE MAAND **/
/***********************************************/

/* afbeeldingen van de section "nieuwe recepten & blogs */
main section:nth-of-type(4) img {
	height: 80px;
}

/* afbeeldingen naast elkaar zetten */
section:nth-of-type(4) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding-left: 0.2em;
}





/************************************/
/** SECTION LEUKE RECEPTEN WEBSHOP **/
/************************************/

/* section onderscheid van maken */
main section:nth-of-type(5) {
	background-color: var(--color-background-third);
	padding-bottom: 1em;
}

/* titel section */
main section:nth-of-type(5) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(5) ul {
	list-style-type: square;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
}

main section:nth-child(5) li:nth-of-type(3) {
	margin-bottom: 1.5em;
}

main section:nth-of-type(5) p {
	padding-left: 1em;
	max-width: 26em;

	font-size: 13px;
}





/*******************************/
/** SECTION POPULAIRE THEMA'S **/
/*******************************/

/* afbeeldingen van de section "populaire thema's */
main section:nth-of-type(6) img {
	width: 160px;
}

/* afbeeldingen naast elkaar zetten */
section:nth-of-type(6) ul {
	list-style-type: none;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;

	padding: 0 0 0 0.5em;
	margin-left: 0.1em;
}

section:nth-of-type(6) ul li {
	position: relative;
}

/* de titels van recepten onder afbeeldingen versieren */
section:nth-of-type(6) ul a {
	background-color: var(--color-background-third);

	font-size: 15px;
	font-weight: 800;

	max-width: 110px;
	border-radius: 0.4em;
	text-align: center;
	padding: 2px;

	position: absolute;
	left: 1.6em;
	right: 1em;
	top: 2em;
}

section:nth-of-type(6) ul a:hover {
	color: black;
}

/* fake button "bekijk alle thema's" positioneren in het midden */
section:nth-of-type(6) a {
	position: absolute;
	left: 7em;
}





/**********************************/
/** SECTION PERSOONLIJK WEEKMENU **/
/**********************************/

/* section onderscheid maken */
main section:nth-of-type(7) {
	background-color: var(--color-background-third);
	padding-bottom: 0.5em;
	margin-top: 9em;
}

/* titel section */
main section:nth-of-type(7) h3 {
	padding-top: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(7) img {
	width: 80px;
	float: left;
	margin-left: 0.5em;
}

main section:nth-of-type(7) p:nth-of-type(1) {
	padding-left: 8em;
	padding-right: 1em;

	font-size: 13px;
}

main section:nth-of-type(7) ul {
	list-style-type: square;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;

	padding-right: 1em;
	margin-left: 5em;
	margin-bottom: 4em;
}

section:nth-of-type(7) a {
	position: absolute;
	left: 14em;
}





/**************************************/
/** SECTION SANDRA'S WEEKMENU SLIDER **/
/**************************************/

/* section onderscheid maken en de slider */
main section:nth-of-type(9) {
	background-color: var(--color-background-second);

	display: flex;
	height: 280px;

	margin-bottom: 2em;

	overflow-x: auto;
}

/* dagen titels van de weekmenu */
main section:nth-of-type(9) h4 {
	text-transform: uppercase;
	font-size: 20px;

	display: flex;
	flex-direction: row;

	margin-bottom: 0.5em;
}

/* ruimte tussen de dagelijkse recepten */
main section:nth-of-type(9) article {
	padding: 0em 1em 0em 1em;
}

/* plaatjes */
main section:nth-of-type(9) img {
	width: 240px;
}

/* recept namen onder de plaatjes */
main section:nth-of-type(9) a {
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: 20px;

	padding: 0.25em;
	text-align: center;

	display: block;
}

main section:nth-of-type(9) a:hover {
	color: var(--color-green);
	font-weight: 600;
	text-decoration: underline;
}





/*************************/
/** SECTION NIEUWSBRIEF **/
/*************************/

footer section:nth-of-type(1) {
	background-color: var(--color-background-second);
	text-align: center;
}

footer section:nth-of-type(1) h3 {
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

footer section:nth-of-type(1) p {
	margin: 1em;
	font-size: 15px;
}

footer section:nth-of-type(1) input {
	min-width: 20em;
	height: 3em;

	border-radius: 1em;
	margin-bottom: 1em;

	font-size: 1em;
	letter-spacing: 0.1em;
	text-align: center;
}

footer section input:nth-of-type(2) {
	background-color: black;
	color: white;

	border-radius: 2em;

	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
}

footer section input:nth-of-type(2):hover {
	background-color: var(--color-green);

	transform: rotate(-2deg);
	font-size: 18px;
	font-weight: 500;
}

footer section input:nth-of-type(2):focus {
	background-color: var(--color-green);
	border-color: var(--color-pink);
	border-width: 0.5em;
}





/*****************************/
/** NAVIGATIE BALK ONDERAAN **/
/*****************************/

/* nav balk elementen naast elkaar */
footer section:nth-of-type(2) nav ul {
	display: flex;
	justify-content: space-between;

	gap: 2em;

	list-style-type: none;

	background-color: var(--color-green);

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
}

/* namen van nav balk */
footer section:nth-of-type(2) li a {
	text-transform: uppercase;
	font-size: 15px;

	align-items: center;
}

/* iconen boven titels centreren */
footer section:nth-of-type(2) li {
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer section:nth-of-type(2) li a:hover {
	color: white;
}

/* iconen van nav balk */
footer section:nth-of-type(2) img {
	width: 25px;
}





/**********/
/** MENU **/
/**********/

/* menu buttons styling en positioneren */
footer section:nth-of-type(2) button {
	position: fixed;
	top: 0.5em;
	right: 0.5em;

	background-color: var(--color-pink);
	border-color: var(--color-pink);
	border-radius: 0.5em;

	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;

	display: flex;
	align-items: center;
}

footer section:nth-of-type(2) button:hover {
	background-color: var(--color-background-second);
	border-color: var(--color-background-second);

	font-size: 1em;
	font-weight: 500;
}

.verborgen-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--color-green);

	display: grid;
	align-content: center;

	/* nav menu in beeld schuiven vanuit rechts */
	transform: translateX(105%);
	transition: transform 0.3s;
	
	gap: 1em;
	z-index: 1;
}

.verborgen-menu ul{
	flex-direction: column;
}

.verborgen-menu li{
	color: var(--color-text);
	border: dotted var(--color-text) 3px;
	padding: 0.5em;
	min-width: 15em;
}

nav.toon-menu{
	transform: translateX(0);
}





/**************************************/
/** ACHTERGROND MUZIEKJE GELUIDSKNOP **/
/**************************************/

/* geluid knoppen styling */
footer section:nth-of-type(3) img {
	position: fixed;
	top: 2.5em;
	right: 0.5em;

	border-radius: 0.5em;
	padding: 0.5em;

	background-color: var(--color-green);

	width: 2.3em;
}





/*********************************/
/*********************************/
/** TWEEDE PAGINA DETAIL RECEPT **/
/*********************************/
/*********************************/

/**********************/
/** INFO OVER RECEPT **/
/**********************/

.tweede-pagina main section:nth-of-type(2) {
	background-color: white;
	padding-top: 0.1em;
}

.tweede-pagina main section:nth-of-type(2) ul {
	display: block;
	display: flex;
	justify-content: space-around;

	margin-top: 0.3em;
}

.tweede-pagina main section:nth-of-type(2) p {
	text-transform: uppercase;
	font-size: 10px;
	color: black;

	margin-top: 0;
}

/* iconen onder gerecht */
.tweede-pagina main section:nth-of-type(2) img:nth-of-type(1) {
	width: 30px;
	height: 30px;
}

.tweede-pagina main section:nth-of-type(2) img:nth-of-type(2) {
	width: 30px;
	height: 30px;
}

.tweede-pagina main section:nth-of-type(2) img:nth-of-type(3) {
	width: 30px;
	height: 50px;
}

.tweede-pagina main section:nth-of-type(2) img:nth-of-type(4) {
	width: 30px;
	height: 30px;
}

/* omschrijving recept */
.tweede-pagina main section:nth-of-type(3) {
	background-color: transparent;
}

.tweede-pagina main section:nth-of-type(3) p {
	font-size: 18px;
	font-style: italic;
	text-align: center;
}





/***********************/
/** INGREDIENTENLIJST **/
/***********************/

.tweede-pagina main section:nth-of-type(4) h4 {
	font-size: 23px;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

/* min en plus buttons */
.tweede-pagina main section:nth-of-type(4) button {
	min-height: 3em;
	min-width: 3em;
	border-radius: 2em;
	border-color: var(--color-green);

	background-color: var(--color-green);
}

.tweede-pagina main section:nth-of-type(4) button p {
	color: white;
	font-size: 24px;
	margin: 0;
}

/* aantal personen */
.tweede-pagina main section:nth-of-type(4) p {
	color: var(--color-text);
	font-size: 19px;
	margin: 0.5em 1em 0 1em;
}

/* buttons en 4 personen naast elkaar zetten */
.tweede-pagina main section:nth-of-type(4) div {
	display: flex;
	margin-bottom: 1em;
}

/* ingredienten */
.tweede-pagina main section:nth-of-type(4) form {
	display: grid;
	margin-left: 0.5em;
}

.tweede-pagina main section:nth-of-type(4) label {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
}





/*************************/
/** DIRECT IN JE MANDJE **/
/*************************/

.tweede-pagina main section:nth-of-type(5) {
	background-color: transparent;
	margin-top: 3em;
}

.tweede-pagina main section:nth-of-type(5) img {
	width: 70px;
	border-radius: 1em;
	margin-left: 1em;
	margin-top: 0;
}

.tweede-pagina main section:nth-of-type(5) p {
	font-size: 18px;
	margin-bottom: 0.5em;
}





/***************/
/** BEREIDING **/
/***************/

.tweede-pagina main section:nth-of-type(6) {
	background-color: transparent;
	margin-top: 3em;
}

.tweede-pagina main section:nth-of-type(6) h4 {
	font-size: 23px;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.tweede-pagina main section:nth-of-type(6) form {
	display: grid;
	margin-left: 0.5em;
}

.tweede-pagina main section:nth-of-type(6) label {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
}





/***************************/
/** TAGS KENMERKEN RECEPT **/
/***************************/

.tweede-pagina main section:nth-of-type(7) {
	background-color: var(--color-pink);

	margin-top: 4em;
	padding: 1em;
}

.tweede-pagina main section:nth-of-type(7) a {
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;

	padding: 0.5em;

	border: solid 1px;
	border-radius: 2em;
	border-color: white;
}

.tweede-pagina main section:nth-of-type(7) a:hover {
	text-decoration: underline;
}





/*****************/
/** OVER SANDRA **/
/*****************/

/* border om section */
.tweede-pagina main section:nth-of-type(8) {
	margin: 4em 0.5em 4em 0.5em;
	border: solid 1px;
}

.tweede-pagina main section:nth-of-type(8) ul {
	padding: 1em;
}

.tweede-pagina main section:nth-of-type(8) li {
	list-style-type: none;
	text-align: center;
}

.tweede-pagina main section:nth-of-type(8) img {
	width: 100px;
	border-radius: 50%;
}

.tweede-pagina main section:nth-of-type(8) li:nth-of-type(2) p {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 800;
}





/****************/
/** OOK LEKKER **/
/****************/

.tweede-pagina main section:nth-of-type(9) {
	display: block;

	background-color: var(--color-background-second);

	height: auto;
	margin: 0;
	padding: 0.5em;

	overflow-x: unset;
}

.tweede-pagina main section:nth-of-type(9) h3 {
	margin-top: 0;
}

.tweede-pagina main section:nth-of-type(9) ul {
	padding-left: 1em;
}

.tweede-pagina main section:nth-of-type(9) li {
	display: flex;

	list-style-type: none;
}

.tweede-pagina main section:nth-of-type(9) img {
	width: 180px;
	margin-bottom: 1em;
}

.tweede-pagina main section:nth-of-type(9) img:nth-of-type(2) {
	position: static;
}

.tweede-pagina main section:nth-of-type(9) a {
	color: var(--color-text);
	background-color: transparent;
	text-align: left;
	padding: 0;
	padding-left: 0.5em;
}

.tweede-pagina main section:nth-of-type(9) a:hover {
	color: var(--color-green);
	font-weight: 600;
	text-decoration: underline;
}





/*****************/
/** KERST THEMA **/
/*****************/

/* kerstbal button */
footer section:nth-of-type(4) img {
	position: fixed;
	top: 5em;
	right: 0.5em;

	border-radius: 0.5em;
	padding: 0.2em;

	background-color: var(--color-green);

	width: 2.5em;
}

@keyframes draaiend-kerst-bal {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

footer section:nth-of-type(4) img {
	animation-name: draaiend-kerst-bal;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* verborgen plaatjes voor kerst thema */
.hidden {
	visibility: hidden;
}

.kerst-thema-canvas {
	position: relative;
	z-index: 1;
}

.sneeuw-bg {
	position: absolute;
	width: 500px;
	left: 5em;
	top: 2em;
}

.kerst-hoekje {
	position: absolute;
	width: 150px;
	left: -2em;
	top: -1em;
}

.kerstman-met-slee {
	position: absolute;
	width: 150px;
	top: 18em;
	right: 2em;
}

.kerst-ster {
	position: absolute;
	width: 70px;
	top: 17em;
	left: 1em;
	transform: rotate(-20deg);
}