/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	
	--color-background-second: #e7eeed;
	--color-background-third: #fceed0;
	--color-dieet: #ffc1c1;
	--color-nav-en-nieuwsbrief: #64827d;

}





/****************/
/* 	ALGEMENE STYLING */
/****************/
body {
	color:var(--color-text);
	background-color:var(--color-background);
}

h1 {
	font-family: 'Leckerli One', cursive;
}

h2 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Nunito Sans', sans-serif;
}





/****************/
/* 	HEADER STYLING */
/****************/

/* naam "Leuke Recepten" */
h1 {
	font-size: 25px;
	text-align: center;
	font-weight: 100;

	margin-top: 0;
}

/* hartje logo achter de naam */
header section:nth-of-type(1) img:nth-of-type(1){
	position: absolute;

	top: 0.5em;
	left: 16.5em;

	z-index: -1;

	min-height: 2.5em;
	max-width: 2.8em;

	opacity: 0.3;
}

/* kookboek icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(1){
	position: absolute;

	left: 10em;
	top: 4.8em;

	z-index: 1;

	max-width: 1.3em;
}

/* pijltje icoon bij eetschema button */
header section:nth-of-type(2) img:nth-of-type(2){
	position: absolute;

	right: 10.4em;
	top: 5em;

	z-index: 1;

	max-width: 1em;
}

/* eetschema button */
header p {
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em;

	background-color: var(--color-dieet);
	max-width: 18em;
	padding: 1em 2em 1em 2em;
	text-align: center;
	border-radius: 3em;
}

/* afbeelding wraps met kip als hoofdgerecht van vandaag */
main section:nth-of-type(1) img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* vergrootglas afbeelding voor search */
main section:first-child nav:first-child img{
	position: absolute;

	top: 17em;
	right: 9em;

	width: 3em;
	height: 3em;
}

/* 
nav button img:nth-of-type(1) {
	position: absolute;

	left: 16em;
	top: 4.8em;

	z-index: 1;

	max-width: 3em;
} */


nav input{
	position: absolute;

	top: 17em;
	left: 10em;

	border-radius: 2em;

	min-width: 30em;
	min-height: 3em;

	text-align: center;
}

nav button:nth-of-type(1){
	width: 3em;
	height: 3em;
}

/* input:nth-of-type(1) {
	position: absolute;

	left: 11.5em;
	top: 20em;

	min-width: 30em;
	min-height: 4em;

	border-radius: 2em;
} */

/* form {
	display: grid;
} */

/* de zwarte buttons */
/* button {
	border-radius: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 9em;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
} */